
@using FlywayAirlines
@model User
<caption>Airline Management System</caption>
<hr />

<p><a asp-area="" asp-controller="Aircraft" asp-action="Display">Aircraft Management</a></p>
<p><a asp-area="" asp-controller="Flight" asp-action="Display">Flight Management</a></p>
<p><a asp-area="" asp-controller="Booking" asp-action="Display">Booking Management</a></p>
<p><a asp-area="" asp-controller="Passenger" asp-action="Display">Passenger Management</a></p>