@using FlywayAirlines
@model Booking
@{ 
    var flightId = Context.Request.Query["flightId"];
    var seatNumber = Context.Request.Query["seatNumber"];
}
<caption>Add Booking</caption>
<hr />
<div class="row">
    <div class="col-md-5">
        <form method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Booking Type</label>
                    <input class="form-control" name="bookingType" type="text" />
                </div>   
            </div>

            <input name="seatNumber" value="@seatNumber" type="hidden" />
            <input name="flightid" value="@flightId" type="hidden" hidden="hidden" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<p><a asp-area="" asp-controller="Booking" asp-action="Display">Back to Booking List</a></p>
