@using FlywayAirlines
@model Booking






<h4>Are you sure you want to delete this aircraft?</h4>


<form method="post">


    <div class="form-group">
        <button type="submit" value="Delete" class="btn btn-danger">Delete</button>
    </div>|
    <a asp-area="" asp-controller="Booking" asp-action="Display">Back to Booking List</a>

</form>