@using FlywayAirlines
@model Passenger

<caption>Add Passenger</caption>
<hr />
<div class="row">
    <div class="col-md-5">


        <form method="POST">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Firstname</label>
                    <input class="form-control" name="firstName" type="text" />
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label">Lastname</label>
                    <input class="form-control" name="lastName" type="text" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Gender</label>
                    <input class="form-control" name="gender" type="text" />
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label">Address</label>
                    <input class="form-control" name="address" type="text" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Email</label>
                    <input class="form-control" name="email" type="email" />
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label">Phone Number</label>
                    <input class="form-control" name="phoneNumber" type="number" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Date of Birth</label>
                    <input class="form-control" name="dateOfBirth" type="date" />
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label">Booking Id</label>
                    <input class="form-control" name="bookingid" type="number" />
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<p><a asp-area="" asp-controller="Passenger" asp-action="Display">Back to Passenger List</a></p>
