@using FlywayAirlines
@model Passenger






<h4>Are you sure you want to remove this passenger?</h4>


<form method="post">


    <div class="form-group">
        <button type="submit" value="Delete" class="btn btn-danger">Delete</button>
    </div>|
    <a asp-area="" asp-controller="Passenger" asp-action="Display">Back to Passenger List</a>

</form>